/* Base styles for mobile */
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#main-container{
    min-height: 80vh;
    max-width: 80%;
    margin-top: 70px;
}

#login-button{
    width: 100%;
}
button{
    width: 100%;
}
/* Styles for tablets and larger */
@media (min-width: 768px) {
    body {
        font-size: 18px;
        background-color: grey;
    }
}

/* Styles for desktops */
@media (min-width: 1024px) {
    #main-container{
    min-height: 80vh;
    max-width: 75%;
    margin-top: 80px;
    }
    button{
        width: auto;
    }
}
